[Unit]
Description=A bash script to turn off TV connected to a Raspberry Pi at a specific time 

[Service]
User=nobody
Group=video
ExecStart={your script working directory here}/app.sh
Restart=always
WorkingDirectory={your script working directory here}
Environment=PATH=/usr/bin:/usr/local/bin:/usr/bin/cec-client:/usr/sbin

[Install]
WantedBy=multi-user.target
